body {
    font-family: Arial, sans-serif;
    background-color: #b4e8a5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgb(244, 246, 245);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container:hover {
    box-shadow: 20px 20px 20px rgba(3, 99, 13, 0.1); 
    transform: translateY(-5px); 
}

h1 {
    color: #333;
}

input[type="number"] {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    width: 60px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

p {
    color: #333;
}
